@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
  font-family: var(--font-sans);
}

@theme {
  --font-sans: var(--font-poppins), sans-serif;
  --font-serif: var(--font-libre), serif;
  --animate-letter-reveal: letterReveal 0.2s ease-out forwards;
  --animate-letter-hide: letterHide 0.2s ease-out forwards;

  @keyframes letterReveal {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes letterHide {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(8px);
    }
  }
}